<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>URL 링크</h1>
<ul>
    <li><a th:href="@{/hello}">basic url(단순 URL)</a></li>
    <li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param(쿼리 파라미터)</a></li>
    <li><a th:href="@{/hello/{param1}/{param2}(param1=${param1}, param2=${param2})}">path variable(경로 변수)</a></li>
    <li><a th:href="@{/hello/{param1}(param1=${param1}, param2=${param2})}">path variable + query parameter(경로 변수+쿼리 파라미터)</a></li>
</ul>
</body>
</html>